<H2> Exploratory Data Analysis (EDA)</H2>

In [5]:
# Data manipulation and analysis
import pandas as pd
import numpy as np
import re

# Data visualization
import seaborn as sns
import matplotlib.pyplot as plt
# from ydata_profiling import ProfileReport

# Suppress warnings
import warnings 
warnings.filterwarnings("ignore")

# Preprocessing
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler

# Model selection and evaluation
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import classification_report, ConfusionMatrixDisplay, confusion_matrix, roc_auc_score, precision_score, recall_score, f1_score, roc_curve, accuracy_score, auc, precision_recall_curve, average_precision_score

# Machine learning models
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier
import xgboost as xgb

# Visualization of feature importances
from yellowbrick.model_selection import FeatureImportances

ModuleNotFoundError: No module named 'sklearn'

In [6]:
df = pd.read_csv('../data/datasets_inter/data_inter.csv')
print('This dataset has %d rows dan %d columns.\n' % df.shape)
df.head()

This dataset has 150000 rows dan 28 columns.

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23,821000265.000000,Scientist,19114.120000,1824.843333,3,4,3,4,"auto loan,credit-builder loan,personal loan,ho...",3,7.000000,11.270000,4.000000,NaN,809.980000,26.822620,265.000000,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23,821000265.000000,Scientist,19114.120000,NaN,3,4,3,4,"auto loan,credit-builder loan,personal loan,ho...",-1,NaN,11.270000,4.000000,Good,809.980000,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,-500,821000265.000000,Scientist,19114.120000,NaN,3,4,3,4,"auto loan,credit-builder loan,personal loan,ho...",3,7.000000,NaN,4.000000,Good,809.980000,28.609352,267.000000,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23,821000265.000000,Scientist,19114.120000,NaN,3,4,3,4,"auto loan,credit-builder loan,personal loan,ho...",5,4.000000,6.270000,4.000000,Good,809.980000,31.377862,268.000000,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23,821000265.000000,Scientist,19114.120000,1824.843333,3,4,3,4,"auto loan,credit-builder loan,personal loan,ho...",6,NaN,11.270000,4.000000,Good,809.980000,24.797347,269.000000,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good